@keyframes turnonlights {
  0% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  1% {
    color: #ff55de;
    text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 17px #ff00de,
      0 0 38px #ff00de;
  }
  4% {
    color: #ff55de;
    text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 17px #ff00de,
      0 0 38px #ff00de;
  }
  7% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  8% {
    color: #ff55de;
    text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 17px #ff00de,
      0 0 38px #ff00de;
  }
  12% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  22% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  23% {
    color: #ff55de;
    text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 15px #ff99de,
      0 0 20px #ff00de, 0 0 30px #ff00de, 0 0 40px #ff00de;
  }
  26% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  28% {
    color: #ff55de;
    text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 17px #ff00de,
      0 0 38px #ff00de;
  }
  34% {
    color: #ff55de;
    text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 15px #ff99de,
      0 0 20px #ff00de, 0 0 30px #ff00de, 0 0 40px #ff00de;
  }
  36% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  42% {
    color: #ff55de;
    text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 17px #ff00de,
      0 0 38px #ff00de;
  }
  55% {
    color: #ff55de;
    text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 15px #ff99de,
      0 0 20px #ff00de, 0 0 30px #ff00de, 0 0 40px #ff00de;
  }
  60% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  63% {
    color: #ff55de;
    text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 15px #ff99de,
      0 0 20px #ff00de, 0 0 30px #ff00de, 0 0 40px #ff00de;
  }
  67% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  72% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  73% {
    color: #ff55de;
    text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 17px #ff00de,
      0 0 38px #ff00de;
  }
  76% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  78% {
    color: #ff55de;
    text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 17px #ff00de,
      0 0 38px #ff00de;
  }
  84% {
    color: #ff55de;
    text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 15px #ff99de,
      0 0 20px #ff00de, 0 0 30px #ff00de, 0 0 40px #ff00de;
  }
  86% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  96% {
    color: #ff55de;
    text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 17px #ff00de,
      0 0 38px #ff00de;
  }
  100% {
    color: #ff55de;
    text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 15px #ff99de,
      0 0 20px #ff00de, 0 0 30px #ff00de, 0 0 40px #ff00de;
  }
}

.paginations {
  display: flex;
  justify-content: center;
}

.dogs {
  margin: 30px 0;
  min-height: 100%;
}

.dogContainer {
  max-width: 90%;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.btn {
  background: #38002f;
  border-radius: 10px;
  border: none;
  margin: 3px;
}

.iconRight,
.iconLeft {
  background: #38002f;
  color: #38002f;
  font-size: 30px;
  cursor: pointer;
  animation-name: turnonlights;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
