@keyframes turnonlights {
  0% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  1% {
    color: #ff55de;
    text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 17px #ff00de,
      0 0 38px #ff00de;
  }
  4% {
    color: #ff55de;
    text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 17px #ff00de,
      0 0 38px #ff00de;
  }
  7% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  8% {
    color: #ff55de;
    text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 17px #ff00de,
      0 0 38px #ff00de;
  }
  12% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  22% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  23% {
    color: #ff55de;
    text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 15px #ff99de,
      0 0 20px #ff00de, 0 0 30px #ff00de, 0 0 40px #ff00de;
  }
  26% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  28% {
    color: #ff55de;
    text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 17px #ff00de,
      0 0 38px #ff00de;
  }
  34% {
    color: #ff55de;
    text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 15px #ff99de,
      0 0 20px #ff00de, 0 0 30px #ff00de, 0 0 40px #ff00de;
  }
  36% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  42% {
    color: #ff55de;
    text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 17px #ff00de,
      0 0 38px #ff00de;
  }
  55% {
    color: #ff55de;
    text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 15px #ff99de,
      0 0 20px #ff00de, 0 0 30px #ff00de, 0 0 40px #ff00de;
  }
  60% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  63% {
    color: #ff55de;
    text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 15px #ff99de,
      0 0 20px #ff00de, 0 0 30px #ff00de, 0 0 40px #ff00de;
  }
  67% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  72% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  73% {
    color: #ff55de;
    text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 17px #ff00de,
      0 0 38px #ff00de;
  }
  76% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  78% {
    color: #ff55de;
    text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 17px #ff00de,
      0 0 38px #ff00de;
  }
  84% {
    color: #ff55de;
    text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 15px #ff99de,
      0 0 20px #ff00de, 0 0 30px #ff00de, 0 0 40px #ff00de;
  }
  86% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  96% {
    color: #ff55de;
    text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 17px #ff00de,
      0 0 38px #ff00de;
  }
  100% {
    color: #ff55de;
    text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 15px #ff99de,
      0 0 20px #ff00de, 0 0 30px #ff00de, 0 0 40px #ff00de;
  }
}

/* neon cards */
@keyframes cardBorder {
  0% {
    border: 2px solid #6d5669;
  }
  1% {
    border: 2px solid #ff55de;
  }
  4% {
    border: 2px solid #ff55de;
  }
  7% {
    border: 2px solid #6d5669;
  }
  8% {
    border: 2px solid #ff55de;
  }
  12% {
    border: 2px solid #6d5669;
  }
  22% {
    border: 2px solid #6d5669;
  }
  23% {
    border: 2px solid #ff55de;
  }
  26% {
    border: 2px solid #6d5669;
  }
  28% {
    border: 2px solid #ff55de;
  }
  34% {
    border: 2px solid #ff55de;
  }
  36% {
    border: 2px solid #6d5669;
  }
  42% {
    border: 2px solid #ff55de;
  }
  55% {
    border: 2px solid #ff55de;
  }
  60% {
    border: 2px solid #6d5669;
  }
  63% {
    border: 2px solid #ff55de;
  }
  67% {
    border: 2px solid #6d5669;
  }
  72% {
    border: 2px solid #6d5669;
  }
  73% {
    border: 2px solid #ff55de;
  }
  76% {
    border: 2px solid #6d5669;
  }
  78% {
    border: 2px solid #ff55de;
  }
  84% {
    border: 2px solid #ff55de;
  }
  86% {
    border: 2px solid #6d5669;
  }
  96% {
    border: 2px solid #ff55de;
  }
  100% {
    border: 2px solid #ff55de;
  }
}

.detailContainer {
  width: 90%;
  min-height: 100vh;
  margin: 0 auto;
}

.btn {
  display: block;
  margin: 10px auto;
  background: #38002f;
  border: 1px solid #ff55de;
  animation-name: cardBorder;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.navLink {
  display: block;
  width: 100px;
  height: 20px;
  line-height: 21px;
  text-decoration: none;
  color: #ff55de;
  animation-name: turnonlights;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #38002f;
  min-width: 90vw;
  box-shadow: 3px 3px 5px 1px #550044;
  animation-name: cardBorder;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.containerImage {
  width: 50vw;
  height: 70vh;
  margin: 30px;
  padding: 10px;
  align-content: flex-start;
  border-radius: 10px;
  background: #550044;
  box-shadow: 3px 3px 5px 1px #38002f;
  animation-name: cardBorder;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.image {
  display: block;
  margin: auto;
  border-radius: 2%;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dogInfo {
  min-width: 300px;
  margin: 35px;
  padding: 10px;
  background: #550044;
  color: #ff55de;
  box-shadow: 3px 3px 5px 1px #550044;
  box-shadow: -3px -3px 5px 1px #550044;
  animation-name: cardBorder;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.dogInfo h4 {
  text-align: center;
}
