.paginations {
  display: flex;
  justify-content: center;
}

.dogs {
  margin: 30px 0;
  min-height: 100%;
}

.dogContainer {
  max-width: 90%;
  margin: 30px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}
