.container {
  width: 90%;
  min-height: 90vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btnBack {
  width: 100px;
  height: 30px;
  border: none;
  border: 1px solid #000;
  margin: 30px;
}
.linkBack {
  width: 100%;
  height: 100%;
  text-decoration: none;
}

.formContainer {
  width: 45vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  border: 2px solid #000;
}

.formContainer input {
  border: none;
  outline: none;
  border-bottom: 2px solid #000;
  border-radius: 20%;
  margin: 10px 0;
}

.formContainer input::placeholder {
  padding: 10px;
}

.dogName {
  display: flex;
  flex-direction: column;
}

.dogName,
.dogSelectTmps {
  margin: 0 auto;
}

.height,
.weight,
.lifeSpan {
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0;
}
.height input,
.weight input,
.lifeSpan input {
  max-width: 100px;
}
.minHeight,
.maxHeight,
.minWeight,
.maxWeight,
.minLifeSpan,
.maxLifeSpan,
.dogImage {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dogSelectTmps {
  display: flex;
  flex-direction: column;
  margin: 10px auto;
}

.submit {
  margin: 10px auto;
}
