@keyframes turnonlights {
  0% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  1% {
    color: #ff55de;
    text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 17px #ff00de,
      0 0 38px #ff00de;
  }
  4% {
    color: #ff55de;
    text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 17px #ff00de,
      0 0 38px #ff00de;
  }
  7% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  8% {
    color: #ff55de;
    text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 17px #ff00de,
      0 0 38px #ff00de;
  }
  12% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  22% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  23% {
    color: #ff55de;
    text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 15px #ff99de,
      0 0 20px #ff00de, 0 0 30px #ff00de, 0 0 40px #ff00de;
  }
  26% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  28% {
    color: #ff55de;
    text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 17px #ff00de,
      0 0 38px #ff00de;
  }
  34% {
    color: #ff55de;
    text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 15px #ff99de,
      0 0 20px #ff00de, 0 0 30px #ff00de, 0 0 40px #ff00de;
  }
  36% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  42% {
    color: #ff55de;
    text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 17px #ff00de,
      0 0 38px #ff00de;
  }
  55% {
    color: #ff55de;
    text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 15px #ff99de,
      0 0 20px #ff00de, 0 0 30px #ff00de, 0 0 40px #ff00de;
  }
  60% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  63% {
    color: #ff55de;
    text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 15px #ff99de,
      0 0 20px #ff00de, 0 0 30px #ff00de, 0 0 40px #ff00de;
  }
  67% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  72% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  73% {
    color: #ff55de;
    text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 17px #ff00de,
      0 0 38px #ff00de;
  }
  76% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  78% {
    color: #ff55de;
    text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 17px #ff00de,
      0 0 38px #ff00de;
  }
  84% {
    color: #ff55de;
    text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 15px #ff99de,
      0 0 20px #ff00de, 0 0 30px #ff00de, 0 0 40px #ff00de;
  }
  86% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  96% {
    color: #ff55de;
    text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 17px #ff00de,
      0 0 38px #ff00de;
  }
  100% {
    color: #ff55de;
    text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 15px #ff99de,
      0 0 20px #ff00de, 0 0 30px #ff00de, 0 0 40px #ff00de;
  }
}

@keyframes cardBorder {
  0% {
    border: 2px solid #6d5669;
  }
  1% {
    border: 2px solid #ff55de;
  }
  4% {
    border: 2px solid #ff55de;
  }
  7% {
    border: 2px solid #6d5669;
  }
  8% {
    border: 2px solid #ff55de;
  }
  12% {
    border: 2px solid #6d5669;
  }
  22% {
    border: 2px solid #6d5669;
  }
  23% {
    border: 2px solid #ff55de;
  }
  26% {
    border: 2px solid #6d5669;
  }
  28% {
    border: 2px solid #ff55de;
  }
  34% {
    border: 2px solid #ff55de;
  }
  36% {
    border: 2px solid #6d5669;
  }
  42% {
    border: 2px solid #ff55de;
  }
  55% {
    border: 2px solid #ff55de;
  }
  60% {
    border: 2px solid #6d5669;
  }
  63% {
    border: 2px solid #ff55de;
  }
  67% {
    border: 2px solid #6d5669;
  }
  72% {
    border: 2px solid #6d5669;
  }
  73% {
    border: 2px solid #ff55de;
  }
  76% {
    border: 2px solid #6d5669;
  }
  78% {
    border: 2px solid #ff55de;
  }
  84% {
    border: 2px solid #ff55de;
  }
  86% {
    border: 2px solid #6d5669;
  }
  96% {
    border: 2px solid #ff55de;
  }
  100% {
    border: 2px solid #ff55de;
  }
}

.container {
  width: 90%;
  margin: 0 auto;
  background: #0f2027; /* fallback for old browsers */
  background: transparent;
  border: 2px solid #5d004b;
  box-shadow: -3px -3px 5px 3px #5d004b;
  animation-name: cardBorder;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.inicio {
  font-size: 30px;
  animation-name: turnonlights;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.header {
  padding: 20px;
  margin-bottom: 20px;
  position: sticky;
  top: 0;
  z-index: 999;
  background: linear-gradient(to right, #800080, #4e024e);
}

.title {
  font-size: 1.2rem;
  text-align: center;
  color: #ff55de;
  animation-name: turnonlights;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.fondo {
  background-color: red;
}
