.header {
  padding: 20px;
  margin: 20px 0;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 999;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.title {
  font-size: 1.2rem;
  text-align: center;
}

.fondo {
  background-color: red;
}
