.operationContainer {
  display: flex;
  justify-content: center;
}
.operationContainer div {
  margin: 0 10px;
}

.btn_createDog {
  width: 100px;
  height: 20px;
  border-radius: 5px;
  color: #000;
  border: 1px solid #000;
}
.link {
  color: #000;
  text-decoration: none;
}

.getDogs,
.orderBy {
  display: flex;
  justify-self: center;
  align-items: center;
}
.iconFilter {
  font-size: 25px;
  margin-right: 5px;
}
