.flex {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex input[type="text"] {
  height: 30px;
  padding: 0;
  outline: none;
  border: none;
  border-bottom: 2px solid #000;
  border-radius: 5px;
}

.flex button[type="submit"] {
  width: 50px;
  padding: 0;
  margin-left: 5px;
  height: 30px;
  color: #000;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.5s;
}

.flex button[type="submit"]:hover {
  background-color: transparent;
  color: #000;
}
