@keyframes turnonlights {
  0% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  1% {
    color: #ff55de;
    text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 17px #ff00de,
      0 0 38px #ff00de;
  }
  4% {
    color: #ff55de;
    text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 17px #ff00de,
      0 0 38px #ff00de;
  }
  7% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  8% {
    color: #ff55de;
    text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 17px #ff00de,
      0 0 38px #ff00de;
  }
  12% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  22% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  23% {
    color: #ff55de;
    text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 15px #ff99de,
      0 0 20px #ff00de, 0 0 30px #ff00de, 0 0 40px #ff00de;
  }
  26% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  28% {
    color: #ff55de;
    text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 17px #ff00de,
      0 0 38px #ff00de;
  }
  34% {
    color: #ff55de;
    text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 15px #ff99de,
      0 0 20px #ff00de, 0 0 30px #ff00de, 0 0 40px #ff00de;
  }
  36% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  42% {
    color: #ff55de;
    text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 17px #ff00de,
      0 0 38px #ff00de;
  }
  55% {
    color: #ff55de;
    text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 15px #ff99de,
      0 0 20px #ff00de, 0 0 30px #ff00de, 0 0 40px #ff00de;
  }
  60% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  63% {
    color: #ff55de;
    text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 15px #ff99de,
      0 0 20px #ff00de, 0 0 30px #ff00de, 0 0 40px #ff00de;
  }
  67% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  72% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  73% {
    color: #ff55de;
    text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 17px #ff00de,
      0 0 38px #ff00de;
  }
  76% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  78% {
    color: #ff55de;
    text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 17px #ff00de,
      0 0 38px #ff00de;
  }
  84% {
    color: #ff55de;
    text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 15px #ff99de,
      0 0 20px #ff00de, 0 0 30px #ff00de, 0 0 40px #ff00de;
  }
  86% {
    color: #6d5669;
    text-shadow: 0 0 3px #635861, 0 0 5px #635861;
  }
  96% {
    color: #ff55de;
    text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 17px #ff00de,
      0 0 38px #ff00de;
  }
  100% {
    color: #ff55de;
    text-shadow: 0 0 5px #ff99de, 0 0 10px #ff99de, 0 0 15px #ff99de,
      0 0 20px #ff00de, 0 0 30px #ff00de, 0 0 40px #ff00de;
  }
}

.flex {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex input[type="text"] {
  height: 30px;
  padding: 0 10px;
  outline: none;
  border: none;
  border-bottom: 2px solid #000;
  border-radius: 5px;
  background: #38002f;
  color: #ff55de;
}

.flex input[type="text"]::placeholder {
  color: #ff55de;
}

.flex button[type="submit"] {
  width: 50px;
  padding: 0;
  margin: 0 5px;
  height: 30px;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: 0.5s;
  background: #38002f;
  color: #ff55de;
  animation-name: turnonlights;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.flex button[type="submit"]:hover {
  background-color: #38002f;
  color: #000;
}
